[Unit]
Description=download package updates
After=NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
Type=simple
ExecStart=/usr/bin/yay -Syuw --noconfirm --ignore git-spice
